<!DOCTYPE html>
<html lang="es">
<head> 
    <title>SafeTaxi.com</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/fontello.css">
    <link rel="stylesheet" href="css/style2.css">

</head>

<body>
          
 <header>
    <div class="contenedor">
        <h1>SAFE TAXI</h1>
        <input type="checkbox" id="menu-bar">
        <label class="icon-menu" for="menu-bar"></label>
                <nav class="menu">
                    <a href="">Inicio</a>
                    <a href="">Registro</a>
                    <a href="">Iniciar Sesion</a>
                    <a href="">Contacto</a>
                </nav>
            </div>
    </header>

        <main>
            <section id="banner">
                <img src="imagen/Taxi/t.jpeg" >
                <div class="contenedor">
                    <h2>Safe Taxi</h2>
                </div>
            </section>

            <!------>
            <br><br><br><br><br>

            <section id="bienvenidos">
            <div class="contenedor">
                <h2>¡Tu tranquilidad es lo mas importante para nosotros!</h2>
                <p>Safe Taxi es una empresa comprometida a ayudar a los usuarios y socios conductores</p>
                <p>asi como a las familias, parejas y amigos de nuestros usuarios para que lleguen a </p>
                <p>su destino sin preocupaciones.Viaja seguro, ¡Viaja con SafeTaxi!.</p>
                </div>
            </section>


            <br><br><br><br><br>
            <section id="info">
                    <h3>¡Movilidad en la palma de tu Mano!</h3>
                    <br><br>
                    <div class="contenedor">
                        <div class="info-pet">
                            <img src="imagen/Taxi/gerente.jfif" alt="">
                            <h4>CONDUCTOR</h4>
                            <p>Quieres trabajar con nosotros</p>
                            <p>realiza tu prueba</p>
                            <br>
                            <a href="">¡Registrate!</a>
                        </div>
                        <div class="info-pet">
                            <img src="imagen/Taxi/usuario.jfif" alt="">
                            <h4>Usuarios</h4>
                            <p>Forma parte de nosotros</p>
                            <p>registrate, es gratis!.</p>
                            <br> <br>
                            <a href="">¡Registrate!</a>
                        </div>
                    </div>
                </section>
            <br><br><br>
            <section id="blog">
                <h3>Desarrollada Para Ti.</h3>
                <br>
                <div class="contenedor">
                    <article>
                        <div class="info-pet">
                            <img src="imagen/Taxi/mapa2.jpg" alt="">
                            <h4>Viaja</h4>
                            <p>Selecciona tu lugar de destino</p>
                            <p></p>
                            <br> <br>
                          
                        </div>
                    </article>
                    <article>
                        <div class="info-pet">
                            <img src="imagen/Taxi/mapa.jpg" alt="">
                            <h4>Maps</h4>
                            <p>Viaja a donde quieras de</p>
                            <p>majera segura.</p>
                            <br> <br>
                         
                        </div>
                    </article>
                </div>
            </section>
        </main>
        <footer>
                <section id="info">
                        <p class="copy">Copyright &copy;2019  All rights reserved || Designed by DevMonkeys <i class="icon-eye" aria-hidden="true"></i>  </p>
                        <div class="contenedor">
                            <div class="sociales">
                                 <a class="icon-facebook-official" href="#"> </a>
                                 <a class="icon-twitter-squared" href="#"></a>
                                 <a class="icon-instagram" href="#"></a>
                                 <a class="icon-gplus" href="#"></a>
                             </div>
                        </div>
                </section>
        </footer>
    </body>
</html>