<!DOCTYPE html>
<html lang="es">
<head> 
    <title>Contacto.com</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/fontello.css">
    <link rel="stylesheet" href="css/style2.css">
</head>
<body>
 <header>
    <div class="contenedor">
        <h1>SAFE TAXI</h1>
        <input type="checkbox" id="menu-bar">
        <label class="icon-menu" for="menu-bar"></label>
                <nav class="menu">
                    <a href="">Inicio</a>
                    <a href="">Registro</a>
                    <a href="">Iniciar sesion</a>
                    <a href="">Contacto</a>
                </nav>
            </div>
    </header>
        
        <main>
            <section id="banner">
                <img src="imagen/Taxi/t.jpeg" >
                <div class="contenedor">
                    <h2>Contacto</h2>
                    <p>Tienes alguna duda? Contactanos! </p>
                </div>
            </section>

            <!------>
            <br><br>
            <section id="info-pack">
                    <h3>Información de Contacto</h3>
                    <br><br>
                    <div class="contenedor">
                        <div class="info-pack">
                            <img src="imagen/Taxi/correo.png" alt="">
                            <h4>Correo Electronico</h4>
                            <p>SafeTaxi@gmail.com</p>
                        </div>
                        <div class="info-pack">
                            <img src="imagen/Taxi/telefono.jfif" alt="">
                            <h4>Telefonos</h4>
                            <p>6521491</p>
                            <p>9666871021</p>
                        </div>
                        <div class="info-pack">
                            <img src="imagen/Taxi/direccion.jfif" alt="">
                            <h4>Dirección</h4>
                            <p>Frac.San Fernando</p>
                            <p>Pegmatita Oriente</p>
                            <p>37000</p>
                        </div>
                        <div class="info-pack">
                             <img src="imagen/Taxi/gerente.jfif" alt="">    
                            <h4>Gerente General</h4>
                            <p>Daniel Maravilla Hndz.</p>
                        </div>
                    </div>
                </section>
            <br><br>
            <footer>
                <section id="info">
                        <p class="copy">Copyright &copy;2018  All rights reserved || Designed by DevMonkeys<i class="icon-eye" aria-hidden="true"></i> </p>
                        <div class="contenedor">
                            <div class="sociales">
                                 <a class="icon-facebook-official" href="#"> </a>
                                 <a class="icon-twitter-squared" href="#"></a>
                                 <a class="icon-instagram" href="#"></a>
                                 <a class="icon-gplus" href="#"></a>
                             </div>
                        </div>
                </section>
        </footer>
    </body>
</html>