<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/style2.css">
	<title>Registro.com</title>
</head>
<body background="img/taxis.jpg" bgcolor="FFCECB">
	          
    <header>
        <div class="contenedor">
            <h1>SAFE TAXI</h1>
            <input type="checkbox" id="menu-bar">
            <label class="icon-menu" for="menu-bar"></label>
                    <nav class="menu">
                        <a href="">Inicio</a>
                        <a href="">Registro</a>
                        <a href="">Iniciar Sesion</a>
                        <a href="">Contacto</a>
                    </nav>
                </div>
        </header>
    
	<div class="container">
		<div class="form__top">
			<h2> <span> REGISTRO DE USUARIO</span></h2>
		</div>		
		<form class="form__reg" action="" method="POST"> 
			Nombre: <input class="input" type="text" placeholder="Nombre" name="nombre" value="" required autofocus>
			Apellido:<input class="input" type="text" placeholder="Apellidos" name="apellidoP" value="" required>
			Correo Electronico:<input class="input" type="text" placeholder="Correo Electronico" name="apellidoM" value="" required>
			Sexo:<input class="input" type="text" placeholder="Sexo" name ="edad" required>
            <div class="btn__form">
			<input class="btn__submit" type="submit" value="Registrarse">
            </div>
		</form>
	</div>
    <a class="btn btn-imfo btn-read-more" href= "">Pagina Principal</a>
    
    <br><br>
    <footer>
        <section id="info">
                <p class="copy">Copyright &copy;2018  All rights reserved || Designed by DevMonkeys<i class="icon-eye" aria-hidden="true"></i> </p>
                <div class="contenedor">
                    <div class="sociales">
                         <a class="icon-facebook-official" href="#"> </a>
                         <a class="icon-twitter-squared" href="#"></a>
                         <a class="icon-instagram" href="#"></a>
                         <a class="icon-gplus" href="#"></a>
                     </div>
                </div>
        </section>
</footer>
</body>
</html>